section{
    background-color: #ffff;
    border-radius: 10px;
    div{
        text-align: center;
        display: flex;
        img:hover{
            box-shadow: 5px 5px 15px #9b9b9b;
            cursor: pointer;
        }
        
        h3{
            margin: 5px;
        }
        mat-icon {
           align-self: center;
            }
      
    }

}

.selected{
    filter: grayscale(70%);
}