<mat-dialog-content>
    <div class="card animate fadeIn infinite">
        <div class="images animate wobble  ">
            <img [src]="store.picture" alt="">
        </div>
        <div class="info">
            <h2 mat-dialog-title> {{store.name}} </h2>
            <div class="location">
                <mat-icon>location_on</mat-icon>
                <h4 class="ub">{{store.location}}</h4>
                <mat-icon>star_rate</mat-icon>
                <h4>{{store.rating}}</h4>
            </div>
            <div>
                <span *ngFor="let lab of store.labels">{{lab}} </span>
            </div>
        </div>
    </div>
</mat-dialog-content>

<div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close()" cdkFocusInitial>Ok</button>
  </div>